body{
	/*background-color: #262626;*/
	background:url(./bg.jpg);
}
.main-svg{
	/*background-color: rgba(38,38,38,.5);*/
}
.main-svg svg{
	height: 100vh;
	z-index: 1 !important;
	padding: 50px;
}
.top-1 .col{
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.top-1 h2{
	color: #262626;
	z-index: 999 !important;
}
.top-1 img{
	max-width: 120px;
}
ul.a{
	list-style-type: circle;
	font-weight: bold;
}
ul.b{
	list-style-type: square;
	font-weight: bold;
}


path#blink {
  animation: blinker 1s linear infinite;
  fill: red;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
   50% {
      opacity: 0.2;
   }
}